<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    .wrapper {
      max-width: 500px;
      padding: 10px;
    }
    .form {
      display: flex;
      max-width: 450px;
      flex-wrap: wrap;
      border: 1px solid #212121;
      border-radius: 6px;
      padding: 8px 12px;
    }

    .form-input {
      margin-right: 12px;
    }
    .form-input input {
      width: 60px;
      padding: 4px 8px;
      border-radius: 4px;
      margin-bottom: 8px;
      outline: none;
      border: 1px solid #212121;
    }
    .form-input #name {
      width: auto;
    }
    .form-btn {
      width: 95%;
      margin: 16px auto 0;
    }
    .calc {
      border: 1px solid #212121;
      margin-top: 15px;
      padding: 6px;
      border-radius: 8px;
    }
    .container-fluid {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }
    .container-fluid {
      align-items: center;
    }
   
    .container-fluid > div {
      font-size: 18px;
      margin-bottom: 14px;
      padding: 0;
    }
    .container-fluid .col-3 {
      margin-right: 12px;
      margin-left: 6px;
    }
  </style>
</head>
<body>
  <div class="wrapper" id="app">
    <b-card title="飼料ME%計算機" class="mb-2">
      <b-container fluid class="mt-3">
        <!-- TODO 群組 -->
        <!-- <b-col cols="3">
          <label for="form-group">群組</label>
        </b-col>
        <b-col cols="8">
          <b-form-select v-model="selected">
            <b-form-select-option value="">不設定群組</b-form-select-option>
            <b-form-select-option v-for="option in options" :value="option.groupNo">{{option.groupName}}</b-form-select-option>
          </b-form-select>
        </b-col> -->
        <template v-for="col, i in columns">
          <b-col :cols="col.labelCol">
            <label :for="`form-${col.key}`">{{ col.label }}</label>
          </b-col>
          <b-col :cols="col.contentCol">
            <b-form-input v-model="obj[col.key]" :id="`form-${col.key}`" :type="col.type"></b-form-input>
          </b-col>
        </template>
      </b-container>
      <b-button class="form-btn" variant="primary" @click="addData()">新增</b-button>
      <!-- TODO 群組 -->
      <!-- <b-button class="form-btn" variant="outline-success">＋ 新增群組</b-button> -->
      <b-button class="form-btn" variant="danger" @click="deleteALl()">刪除全部紀錄</b-button>
    </b-card>
    <b-card class="mb-1" v-for="item, i in oldDataList" header-class="d-flex align-items-center justify-content-between">
      <template #header>
        <span>第{{i + 1}}筆－{{item.name}}</span>
        <b-button variant="danger" size="sm" class="ml-auto" @click="deleteOne(i)">刪除</b-button>
      </template>
      <b-card-text>
        <p>成分：</p>
        <p>蛋白質：{{item.protein}}% / 脂肪：{{item.adipose}}%</p>
        <p>水分：{{item.water}}% / 纖維：{{item.fiber}}%</p>
        <p>灰質：{{item.gray}}% / 碳水化合物：{{item.carbohydrate}}%</p>
        <p>代謝能：{{item.metabolizableEnergy}}/100g</p>
        <p>蛋白質比例：{{item.proteinPercent}}％ / 脂肪比例：{{item.adiposePercent}}％</p>
        <p>碳水化合物比例：{{item.carbohydratePercent}}％</p>
      </b-card-text>
    </b-card>

    <!-- TODO 群組 -->
    <!-- <b-card no-body class="mb-1">
      <b-card-header header-tag="header" role="tab">
        <b-button v-b-toggle.group-none variant="light" class="w-100">無群組</b-button>
      </b-card-header>
      <b-collapse id="group-none" accordion="group-none" role="tabpanel" visible>
        <b-card-body>
          <b-card-text>aaa</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" role="tab">
        <b-button block v-b-toggle.accordion-2 variant="light" class="w-100">群組一</b-button>
      </b-card-header>
      <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>aaa</b-card-text>
          <b-button class="form-btn" variant="danger">刪除群組</b-button>
        </b-card-body>
      </b-collapse>
    </b-card> -->
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      selected: '',
      options: [
        { groupNo: '1', groupName: '群組1'},
        { groupNo: '2', groupName: '群組2'},
        { groupNo: '3', groupName: '群組3'},
        { groupNo: '4', groupName: '群組4'},
        { groupNo: '5', groupName: '群組5'},
        { groupNo: '6', groupName: '群組6'},
        { groupNo: '7', groupName: '群組7'},
        { groupNo: '8', groupName: '群組8'},
        { groupNo: '9', groupName: '群組9'},
        { groupNo: '10', groupName: '群組10'},
      ],
      obj: {
        name: '', // 飼料名稱
        protein: 0, // 蛋白質
        adipose: 0, // 脂肪
        water: 0, // 水分
        fiber: 0, // 纖維
        gray: 0, // 灰質
        metabolizableEnergy: 0, // 代謝能
        carbohydrate: 0, // 碳水化合物
        proteinPercent: 0, // 蛋白質比例
        adiposePercent: 0, // 脂肪比例
        carbohydratePercent: 0, // 碳水化合物比例
      },
      columns: [
        { key: 'name', label: '飼料名稱', type: 'text', labelCol: '3', contentCol: '8' },
        { key: 'protein', label: '蛋白質', type: 'number', labelCol: '2', contentCol: '3' },
        { key: 'adipose', label: '脂肪', type: 'number', labelCol: '2', contentCol: '3' },
        { key: 'water', label: '水分', type: 'number', labelCol: '2', contentCol: '3' },
        { key: 'fiber', label: '纖維', type: 'number', labelCol: '2', contentCol: '3' },
        { key: 'gray', label: '灰質', type: 'number', labelCol: '2', contentCol: '3' },
      ],
      oldDataList: [],
    },
    methods: {
      deleteALl() {
        window.localStorage.setItem('info', '[]')
        window.location.reload()
      },
      deleteOne(index) {
        this.oldDataList.splice(index, 1)
        window.localStorage.setItem('info', JSON.stringify(this.oldDataList))
        window.location.reload()
      },
      addData() {
        const { name, protein, adipose, water, fiber, gray } = this.obj;
        if(!protein || !adipose || !water || !fiber || !gray) {
          alert('請把資料輸入完整！')
          return
        }
        if(!name) {
          alert('輸入名字以便紀錄')
          return
        }
        this.obj.carbohydrate =
          (100 - protein - adipose - water - fiber - gray).toFixed(2);
        this.obj.metabolizableEnergy = ((protein*3.5) + (adipose*8.5) + (this.obj.carbohydrate*3.5)).toFixed(2);
        const { metabolizableEnergy, carbohydrate } = this.obj;
        this.obj.proteinPercent = (((protein*3.5) / metabolizableEnergy) * 100).toFixed(2);
        this.obj.adiposePercent = (((adipose*8.5) / metabolizableEnergy) * 100).toFixed(2);
        this.obj.carbohydratePercent = (((carbohydrate*3.5) / metabolizableEnergy) * 100).toFixed(2);
        this.oldDataList.push(this.obj);
        window.localStorage.setItem('info', JSON.stringify(this.oldDataList))
        window.location.reload()
      }
    },
    created() {
      if(window.localStorage.getItem('info')) {
        this.oldDataList = JSON.parse(window.localStorage.getItem('info'));
      }
    }
  })
</script>
</html>